spring:
  datasource:
    url: jdbc:h2:file:~/test;MODE=Oracle
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true

  sql:
    init:
      mode: always   # schema.sql/data.sql 쓰면 always로 변경
      encoding: UTF-8
