spring:
  datasource:
    url: jdbc:h2:mem:ticket;MODE=Oracle;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        show_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always   # schema.sql/data.sql 쓰면 always로 변경
      encoding: UTF-8
