spring:
  datasource:
    url: jdbc:h2:file:~/test;MODE=Oracle;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true

  sql:
    init:
      mode: always   # schema.sql/data.sql 쓰면 always로 변경
      encoding: UTF-8
server:
  port: 8081

jwt:
  secret: dev-secret-dev-secret-dev-secret-dev-secret
  issuer: ticket-api
  expiration: 3600000
  refresh-expiration: 1209600000

oauth2:
  redirect-url: http://localhost:8081/oauth2/callback
